<h5>Login</h5>

<hr /> 

<%= form_tag "/login", class: "form-horizontal" do %>
  <div class="control-group">
    <%= label_tag :username, nil, class: 'control-label' %>

    <div class="controls">
      <%= text_field_tag :username %>
    </div>
  </div>

<div class="control-group">  
  <%= label_tag :password, nil, class: "control-label" %>
  <div class="controls">
    <%= password_field_tag :password %>
  </div>
</div>

  <div class="controls">
    <%= submit_tag 'login', class: 'btn btn-success' %>
  </div>
<% end %>