<% if @comment.errors.any? %>
<ul>
    <% @comment.errors.full_messages.each do |msg| %>
      <li> <%= msg %> </li>
    <% end %>
</ul>
<% end %>

<%= form_for [@post, @comment] do |f| %>
  <div class="control-group">
      <%= f.label :Comment %>
    <br />
    <div class="input-prepend">
      <span class="add-on"><i class="icon-pencil"></i></span>
    <%= f.text_field :body, class: 'input-xxlarge', placeholder: 'Write a comment...' %>
  </div>
    <br />
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
<br />

<h5 class='text-warning'> 
  <%= @post.comments.count %>
   <%= @post.comments.count > 1 ? "comments" : "comment" %> 
</h5>
<!-- Show Comments Associated to post -->
<% @post.comments.each do |comment| %>
  <hr />
<div class="controls">
  <ul class="unstyled">
      <li>
        <span class="add-on">
          <i class="icon-user"></i>
        </span> 
          <small class="muted"> <b><%= comment.user.username %></b> at <%= comment.created_at %></small>
      </li>
  </ul>
  <p><%= comment.body %></p> 
</div>
<% end %>
<br />
