<%= render 'shared/errors', obj: @comment %>

<%= form_for [@post, @comment] do |f| %>
  <div class="control-group">
      <%= f.label :body, 'Leave a comment' %>
    <br />
    <div class="controls">
      <div class="input-prepend">
        <%= f.text_area :body, rows: '3', class: 'span4', placeholder: 'Write a comment...' %>
      </div>
    </div>
    <%= f.submit 'Post comment', class: 'btn btn-primary' %>
  </div>
<% end %>
<br />

<h5 class='text-warning'> 
  Comments:
</h5>

<!-- Show Comments Associated to post -->
<% @post.comments.order("created_at DESC").each do |comment| %>
  <hr />
<div class="controls">
  <ul class="unstyled">
      <li>
        <span class="add-on">
          <i class="icon-user"></i>
        </span> 
          <small class="muted"> <b><%= comment.user.username %></b> at <%= comment.created_at %></small>
      </li>
  </ul>
  <p><%= comment.body %></p> 
</div>
<% end %>
<br />
