<h5>Leave a comment.</h5><br />

<% if @comment.errors.any? %>
<ul>
    <% @comment.errors.full_messages.each do |msg| %>
      <li> <%= msg %> </li>
    <% end %>
</ul>
<% end %>

<%= form_for [@post, @comment] do |f| %>
  <div class="control-group">
    <%= f.text_area :body, cols: '60', rows: '10' %>
    <br />
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
<br />

<h5>Comments:</h5>
<!-- Show Comments Associated to post -->
<% @post.comments.each do |comment| %>
  <ul>
    <li> <%= comment.body %> <small class="muted"> Posted by <%= comment.user.username %> at <%= comment.created_at %></small> </li>
  </ul>
<% end %>
