<div class="row">

  <div class="span0"> <!-- Votes -->
    <dl>
      <%= link_to vote_post_path(post, vote: true), method: 'post' do %>
        <i class="icon-chevron-up"></i>
      <% end %>
      <br />
       votes (<%= post.total_votes %>)
      <br />
      <%= link_to vote_post_path(post, vote: false), method: 'post' do %>
        <i class="icon-chevron-down"></i>
      <% end %>
    </dl>
  </div> <!-- End votes -->

  <div class="span8">
  <% post.categories.each do |category| %>
      <span class="label">
        <%= category.name %>
      </span>
  <% end %>    
    <dl>
        <dt> <%= post.title %></dt>
        <dd> <%= link_to post.description, fix_url(post.url) %></dd>
    </dl>

    <small>
      <div class="muted">Submitted at <%= display_datetime(post.created_at) %> by <%= post.user.username %>
      </div>
    </small>
      
    <br />

    <small>
        <!-- Show or hide edit button based on logged in user -->
        <% if logged_in? %>
          <% if current_user == post.user %> 
            <%= link_to 'Edit', edit_post_path(post), class: 'btn btn-link' %>|
          <% end %>
        <% end %>
        <%= link_to post_path(post) do %>
            Comments (<%= post.comments.count %>) 
        <% end %>
    </small> 
      
      <hr />
    </div>
</div>